.template_select{
    height: 100px;
    width: 150px;
    display:table-cell;
    border:1px solid red;
    padding: 10px;
}

.template_add{
    height: 100px;
    width: 150px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}

.template_add a{
    text-align: center;
    color: #708fa0;
}

.template_box{
    height: 102px;
}
